* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

#root {
  background-color: #282c34;
  color: whitesmoke;
}

h1, .navLink, label {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  padding: 1em;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  height: 150px;

}

span {
  font-size: 14px;
}

#copyButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 1em;
}

.overlay {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: darkorange;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

form p {
  text-align: center;
  padding-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  padding: 10px 30px;
  margin-top: 20px;
  

}

.flexbox {
  display: flex;
  align-items: baseline;
  justify-content: center;

}

.flexbox p {
  width: 50px;
  padding: 10px;
}
