#root {
  background-color: #282c34;
  color: whitesmoke;
}

h1, .navLink, label {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  padding: 1em;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  height: 150px;

}

span {
  font-size: 14px;
}

#copyButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 1em;
}

.popup {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid gray;
  background: rgb(255, 0, 0);
}